<div class="section-1 bg-cover relative">
	<div
		class="w-full h-80 section-1__container absolute bg-success-500 bottom-0 left-0 right-0 md:static md:bg-transparent md:bottom-auto md:left-auto md:right-auto">
		<div
			class="flex flex-col items-center justify-center gap-6 text-white px-4 py-10 font-poppins-regular md:items-start md:justify-start md:px-0 md:py-0">
			<h1 class="text-5xl xl:text-6xl md:text-black ">Sistema Cloe</h1>
			<p class="text-center text-base text-[#FFFFFFBD] md:text-black  md:text-left">
				Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh
				euismod tincidunt ut laoreet dolore. Lorem ipsum dolor sit amet,
				adipiscing elit, sed Diam.
			</p>
			<div class="w-36">
				<button class="btn btn-lg btn-secundary__success">Contáctanos</button>
			</div>
		</div>
	</div>
</div>

<div class="section-2">
	<div class="px-4 py-8 flex flex-col items-center">
		<p class="text-4xl text-center font-poppins-medium text-success-500 mb-8">
			Ventajas de Cloe
		</p>
		<div class="container flex flex-col lg:flex-row items-center lg:gap-32 lg:max-w-7xl">
			<img class="hidden md:block" src="../../../../assets/landing_page_assets/images/jpg/ventajas_768x1024.png"
				alt="ventajas.png" role="img" />
			<div class="container flex flex-col items-center justify-center md:w-11/12 md:max-w-3xl md:mx-auto">
				<app-cloe-advantages class="mb-10" [icon]="
						'../../../../assets/landing_page_assets/icons/svg/icono_ventaja_1_32x32.svg'
					" [title]="'Ventaja 1'" [message]="
						'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.'
					"></app-cloe-advantages>
				<app-cloe-advantages class="mb-10" [icon]="
						'../../../../assets/landing_page_assets/icons/svg/icono_ventaja_2_32x32.svg'
					" [title]="'Ventaja 2'" [message]="
						'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.'
					"></app-cloe-advantages>
				<app-cloe-advantages [icon]="
						'../../../../assets/landing_page_assets/icons/svg/icono_ventaja_3_32x32.svg'
					" [title]="'Ventaja 3'" [message]="
						'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.'
					"></app-cloe-advantages>
			</div>
		</div>
	</div>
</div>

<div class="section-3 flex flex-col items-center justify-center font-poppins-regula lg:flex-row lg:gap-28 ">
	<p class="w-full text-center text-4xl mb-4 md:text-6xl md:mb-6 lg:font-poppins-light lg:mb-0 lg:text-left">Qué es RAEE</p>
	<p class="text-center text-base text-[#FFFFFFBD] tracking-wide lg:text-left">Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore. Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore. Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh.</p>
</div>

<!-- Seccion 4 Inicio -->
<!-- Seccion 4 Fin -->


<div class="section-5">
	<div class="section-5__content flex flex-col items-start">
		<img class="mb-6" src="../../../../assets/landing_page_assets/logo/svg/logo_cloe_positivo.svg" alt="ventajas.png"
			role="img" />
		<p class="text-4xl font-poppins-regular text-left mb-4">Encuentra
			tu centro de acopio más cercano</p>
		<p class="text-left font-poppins-regular text-base mb-9">Lorem ipsum dolor sit amet, adipiscing
			elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
			<div class="w-24">
				<button class="btn btn-lg btn-primary__success">Buscar</button>
			</div>
	</div>
</div>