<div class="section-1 bg-cover relative ">
	<div class="w-full h-80 section-1__container absolute bg-success-500 bottom-0 left-0 right-0 md:static md:bg-transparent md:bottom-auto md:left-auto md:right-auto ">
		<div class="flex flex-col items-center justify-center gap-6  text-white px-4 py-10 font-poppins-regular  md:items-start  md:justify-start  md:text-black md:px-0 md:py-0">
			<h1 class="text-5xl xl:text-6xl ">Sistema Cloe</h1>
			<p class="text-center text-base md:text-left ">Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore. Lorem ipsum dolor sit amet, adipiscing elit, sed Diam.</p>
			<div class="w-36">
				<button  class="btn btn-secundary__success md:btn-primary__success">
					Contáctanos
				</button>
			</div>
		</div>
	</div>
</div>


