<div class="section-1 bg-cover relative">
	<div
		class="w-full h-80 section-1__container absolute bg-success-500 bottom-0 left-0 right-0 md:static md:bg-transparent md:bottom-auto md:left-auto md:right-auto">
		<div
			class="flex flex-col items-center justify-center gap-6 text-white px-4 py-10 font-poppins-regular md:items-start md:justify-start md:px-0 md:py-0">
			<h1 class="text-5xl xl:text-6xl md:text-black ">Sistema Cloe</h1>
			<p class="text-center text-base text-[#FFFFFFBD] md:text-black  md:text-left">
				Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh
				euismod tincidunt ut laoreet dolore. Lorem ipsum dolor sit amet,
				adipiscing elit, sed Diam.
			</p>
			<div class="w-36">
				<button class="btn btn-lg btn-secundary__success" (click)="scrollToSection('#contactanos')">Contáctanos</button>
			</div>
		</div>
	</div>
</div>

<div class="section-2">
	<div class="px-4 py-10 flex flex-col items-center">
		<p class="text-4xl text-center font-poppins-medium text-success-500 mb-8">
			Ventajas de Cloe
		</p>
		<div class="container flex flex-col lg:flex-row items-center lg:gap-32 lg:max-w-7xl">
			<img class="hidden md:block" src="../../../../assets/landing_page_assets/images/jpg/ventajas_768x1024.png"
				alt="ventajas.png" role="img" />
			<div class="container flex flex-col items-center justify-center md:w-11/12 md:max-w-3xl md:mx-auto">
				<app-cloe-advantages class="mb-10" [icon]="
						'../../../../assets/landing_page_assets/icons/svg/icono_ventaja_1_32x32.svg'
					" [title]="'Ventaja 1'" [message]="
						'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.'
					"></app-cloe-advantages>
				<app-cloe-advantages class="mb-10" [icon]="
						'../../../../assets/landing_page_assets/icons/svg/icono_ventaja_2_32x32.svg'
					" [title]="'Ventaja 2'" [message]="
						'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.'
					"></app-cloe-advantages>
				<app-cloe-advantages [icon]="
						'../../../../assets/landing_page_assets/icons/svg/icono_ventaja_3_32x32.svg'
					" [title]="'Ventaja 3'" [message]="
						'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.'
					"></app-cloe-advantages>
			</div>
		</div>
	</div>
</div>

<div class="section-3 flex flex-col items-center justify-center font-poppins-regula lg:flex-row lg:gap-28 ">
	<p class="whitespace-nowrap w-full text-center font-poppins-regular text-4xl mb-4 md:text-6xl md:mb-6 lg:font-poppins-light lg:mb-0 lg:text-left">Qué es RAEE</p>
	<p class="text-center text-base text-[#FFFFFFBD] tracking-wide lg:text-left">Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore. Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore. Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh.</p>
</div>

<div class="section-4a">

	<div class="flex flex-col items-center justify-center">
		<p class="text-center font-poppins-regular text-4xl md:text-5xl mb-4">Cadena de valor RAEE</p>
		<p class="text-center font-poppins-regular text-base mb-8">Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
		<img src="../../../../assets/landing_page_assets/images/svg/esquema_cadena_de_valor.svg" alt="" class="pt-24">

	</div>
</div>

<div class="section-4b">
	<p class="w-full text-center text-2xl font-poppins-regular text-success-500 mb-8">Clasificación de RAEE</p>

	<div class="flex flex-wrap gap-6 items-center justify-around md:gap-4" >
		<app-raee-type-card [icon]="'../../../../assets/landing_page_assets/icons/svg/icono_aire_acondicionado_96x96.svg'" [title]="'Aparatos de intercambio de temperatura'"></app-raee-type-card>
		<app-raee-type-card [icon]="'../../../../assets/landing_page_assets/icons/svg/icono_monitor_96x96.svg'" [title]="'Monitores, pantallas y aparatos con pantallas'"></app-raee-type-card>
		<app-raee-type-card [icon]="'../../../../assets/landing_page_assets/icons/svg/icono_bombillo_96x96.svg'" [title]="'Lámparas'"></app-raee-type-card>
		<app-raee-type-card [icon]="'../../../../assets/landing_page_assets/icons/svg/icono_tostador_96x96.svg'" [title]="'Pequeños aparatos'"></app-raee-type-card>
		<app-raee-type-card [icon]="'../../../../assets/landing_page_assets/icons/svg/icono_lavadora_96x96.svg'" [title]="'Grandes electrodomésticos'"></app-raee-type-card>
		<app-raee-type-card [icon]="'../../../../assets/landing_page_assets/icons/svg/icono_smartphone_96x96.svg'" [title]="'Aparatos de informática y telecomunicaciones'"></app-raee-type-card>
		<app-raee-type-card [icon]="'../../../../assets/landing_page_assets/icons/svg/icono_panel_solar_96x96.svg'" [title]="'Paneles fotovoltaicos grandes'"></app-raee-type-card>
	</div>
	<p class="text-center font-poppins-italic text-sm mt-8">*Emitida por el parlamento europeo correspondiente al año 2018.</p>
</div>

<div class="section-5">
	<div class="section-5__content flex flex-col items-start">
		<img class="mb-6" src="../../../../assets/landing_page_assets/logo/svg/logo_cloe_positivo.svg" alt="ventajas.png"
			role="img" />
		<p class="text-4xl font-poppins-regular text-left mb-4">Encuentra
			tu centro de acopio más cercano</p>
		<p class="text-left font-poppins-regular text-base mb-9">Lorem ipsum dolor sit amet, adipiscing
			elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
			<div class="w-24">
				<button class="btn btn-lg btn-primary btn-primary__success" (click)="goToGatheringCenter()">Buscar</button>
			</div>
	</div>
</div>

<div class="section-6" id="contactanos">
	<p class="text-left font-poppins-regular text-4xl pl-4 pt-10 pb-6 md:text-center md:font-poppins-light md:text-6xl md:pl-0 md:pt-12 lg:pl-36 lg:pt-28 lg:pb-20 lg:text-left xl:pl-96">Contáctanos</p>
	<div class="flex flex-col items-start md:gap-16 lg:flex-row lg:gap-14">
		<img class="hidden md:block lg:hidden" src="../../../../assets/landing_page_assets/images/jpg/contactanos_768x1024.png" alt="contactanos.png" role="img" />
		<img class="hidden lg:block xl:hidden" src="../../../../assets/landing_page_assets/images/jpg/contactanos_1400x900.png" alt="contactanos.png" role="img" />
		<img class="hidden xl:block" src="../../../../assets/landing_page_assets/images/jpg/contactanos_1920x1080.png" alt="contactanos.png" role="img" />

		<form [formGroup]="landingForm" class="section-6__form flex flex-col">
			<div class="md:flex md:flex-wrap ">
				<div class="mb-6 md:w-1/2 ">
					<app-cloe-input-field [label]="'Nombre'" formControlName="name" [forName]="'nameLanding'" [typeInput]="'text'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
				</div>
				<div class="mb-6 md:w-1/2 md:pl-4 ">
					<app-cloe-input-field [label]="'Teléfono'" formControlName="phone" [typeInput]="'text'" [forName]="'phoneLanding'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
				</div>
				<div class="mb-6 md:w-1/2 ">
					<app-cloe-input-field [label]="'Correo electrónico'" formControlName="email" [typeInput]="'email'" [forName]="'emailLanding'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
				</div>
				<div class="mb-6 md:w-1/2 md:pl-4 ">
					<app-cloe-input-field [label]="'Ciudad'" formControlName="city" [typeInput]="'text'" [forName]="'cityLanding'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
				</div>
				<div class="mb-6  w-full ">
					<app-cloe-input-field [label]="'Mensaje'" formControlName="message" [typeInput]="'textarea'" [forName]="'messageLanding'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
				</div>
			</div>
			<div class="w-24 m-auto md:m-0">
				<button class="btn btn-lg btn-primary__success" [disabled]="landingForm.invalid" (click)="sendMessage()">Enviar</button>
			</div>
		</form>
	</div>

</div>