<footer class="py-10">
    <div class="lg:container px-10 lg:px-0 lg:mx-auto gap-2 flex flex-col items-center h-full font-poppins-regular">
        <div class="grid grid-cols-1 lg:grid-cols-6 lg:w-9/12 h-full lg:grid-rows-1">
            <div class="lg:w-5/12 lg:col-span-2 order-1">
                <img src="./../../../../assets/landing_page_assets/logo/svg/logo_cloe_negativo.svg"
                     alt="Logo"
                     class="logo"/>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:col-span-4 md:gap-4 order-2">
                <div class="flex space-x-4 text-sm">
                    <ul class="link-list">
                        <li class="mb-4 opacity-1">Enlaces de interés</li>
                        <li class="my-4">Ventajas de Cloe</li>
                        <li>Qué es RAEE</li>
                        <li class="my-4">Contáctanos</li>
                    </ul>
                </div>
                <div class="flex space-x-4 text-sm">
                    <ul class="link-list">
                        <li>Recursos</li>
                        <li class="my-4">Buscar centros de acopio</li>
                    </ul>
                </div>
                <div class="text-sm">
                    <ul class="link-list no-margin">
                        <li>Legal</li>
                        <li class="my-4">Políticas de privacidad</li>
                        <li>Términos de uso</li>
                    </ul>
                </div>
            </div>
            <div class="lg:col-span-6 order-3 flex flex-column justify-center items-center">
                <p class="footer-text mb-0 pb-0">© Cloe 2024 | Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>