<div class="edit-profile-popup">
	<p class="text-[#0B132B] font-poppins-medium text-lg mb-4">{{ title }}</p>

	<form [formGroup]="userForm" class="flex flex-col gap-4">
		<p class="font-poppins-medium text-sm text-[#00000099]">Cédula: {{user?.cedula_type + '-' + user?.cedula_number}}</p>
		<p class="font-poppins-medium text-sm text-[#00000099]">Correo electrónico: {{user?.email}}</p>
		<p class="font-poppins-medium text-sm text-[#00000099]">Username: {{user?.username}}</p>

		<app-cloe-input-field [label]="'Nombre'" formControlName="firstName" [typeInput]="'text'" [forName]="'firstNameUser'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
		<app-cloe-input-field [label]="'Apellido'" formControlName="lastName" [typeInput]="'text'" [forName]="'lastNameUser'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
		<app-cloe-select-search  formControlName="state" [forName]="'stateUser'" [label]="'Estado'" [placeholder]="'Selecciona'" [options]="statesList"></app-cloe-select-search>
		<app-cloe-select-search  formControlName="city" [forName]="'cityUser'" [label]="'Ciudad'" [placeholder]="'Selecciona'" [options]="citiesList"></app-cloe-select-search>
		<app-cloe-input-field [label]="'Dirección'" formControlName="address" [typeInput]="'text'" [forName]="'addressGatheringCenters'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
	</form>

	<div class="mt-6 flex items-center justify-end gap-6">
		<div class="w-24">
			<button class="btn btn-md btn-secundary__success" (click)="onClose()">Cancelar</button>
		</div>

		<div class="w-24">
			<button class="btn btn-md btn-primary__success" (click)="onSaveUser()" [disabled]="userForm.invalid">Guardar</button>
		</div>
	</div>
</div>
