<div class="mt-6 mb-6 text-center">
	<p class="font-poppins-regular text-sm">Para ingresar al sistema debes tener una cuenta activada por nuestro equipo. ¿No la tienes? Contáctanos</p>
</div>

<div class="card-container m-auto px-4 py-10 md:px-10 bg-white rounded overflow-hidden shadow-lg">
	<p class="text-center text-xl font-poppins-medium text-success-500 mb-6">Iniciar sesión</p>

	<form [formGroup]="loginForm" class="flex flex-col gap-6">
		<app-cloe-input-field  [label]="'Usuario'" formControlName="username" [forName]="'usernameLogin'" [typeInput]="'text'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>

		<app-cloe-input-field [label]="'Contraseña'" formControlName="password" [typeInput]="'password'" [forName]="'passwordLogin'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>

		<ng-container *ngIf="errorMessage != ''">
			<div class="flex items-center">
				<img src="../../../../assets/svg/error.svg"  class="w-5 h-5" alt="">
				<p class="font-poppins-regular mt-0.5 ml-2 text-sm text-danger-500">{{errorMessage}}</p>
			</div>
		</ng-container>

		<!-- <div class="mt-1 flex items-center">
			<input type="checkbox" class="h-5 w-5 text-success-400 rounded transition duration-150 appearance-none ease-in-out focus:outline-none focus:ring-transparent mr-3">
			<label for="remember" class="font-poppins-regular text-gray-600 m-0">Recordar este dispositivo</label>
		</div> -->
		<div class="mt-1 text-center">
			<a routerLink="/landing/home" class="font-poppins-medium outline-none focus:outline-none text-success-500 hover:text-success-600 hover:underline checked:bg-success-600 checked:border-success-800 ">Regresar al inicio</a>
		</div>


		<button (click)="login()" class="mt-2 btn btn-lg btn-primary__success" [disabled]="loginForm.invalid">Iniciar sesión</button>

	</form>

	<div class="mt-4 text-center">
		<a routerLink="/auth/forgot-password" class="font-poppins-medium outline-none focus:outline-none text-success-500 hover:text-success-600 hover:underline checked:bg-success-600 checked:border-success-800 ">Recuperar contraseña</a>
	</div>
</div>