.gathering-centers{
	@apply w-screen md:w-full my-4 px-4 py-6 bg-white rounded shadow-lg shadow-[#004D4014];

	.card-content{
		height: 459px;
	}
}


@media (min-width: 768px) {
	.gathering-centers{
		.card-content{
			height: 670px;
		}
	}
}

@media (min-width: 1024px) {
	.gathering-centers{
		.card-content{
			height: 438px;
		}
	}
}

@media (min-width: 1920px) {
	.gathering-centers{
		.card-content{
			height: 601px;
		}
	}
}