<section class="gathering-centers">
	<p class="text-[#0B132B] font-poppins-medium text-base">Centros de acopio registrados</p>

	<div class="pt-10 flex flex-col items-center justify-center">
		<img src="./../../../../assets/svg/icono_sidebar_centros_acopios_verde_24x24.svg" alt="" class="w-12 h-12">
		<p class="text-[#0B132B] font-poppins-medium text-lg-  pt-4">Aún no has registrado centros de acopio</p>
		<p class="text-[#00000099] font-poppins-regular text-base pt-2 text-center">Puedes <span class="text-[#000000DE]">registrar y gestionar</span> tus usuarios <span class="text-[#000000DE]">desde aquí.</span> </p>

		<div class="w-24 mt-6">
			<button class="btn btn-primary__success btn-md" (click)="openDialogNewGatheringCenter()">Registrar</button>
		</div>
	</div>
</section>
