<div class="confirmation-gathering-centers">
	<img src="./../../../../../assets/svg/icono_sidebar_centros_acopios_verde_24x24.svg" alt="" class="w-12 h-12">
	<p class="mt-4 font-poppins-medium text-lg text-[#000000DE]">Registrar centro de acopio</p>
	<p class="mt-2 font-poppins-regular text-base text-[#00000099] text-center">¿Seguro de que deseas registrar este centro de acopio?</p>
	<div class="mt-6 flex items-center justify-center gap-6">
		<div class="w-24">
			<button class="btn btn-md btn-secundary__success" (click)="onClose()">Cancelar</button>
		</div>

		<div class="w-24">
			<button class="btn btn-md btn-primary__success" (click)="onConfirmGatheringCenter()">Aceptar</button>
		</div>
	</div>
</div>
