<div class="card">
	<div class="flex gap-9 items-center">
		<p class="text-sm font-poppins-medium text-[#00000099]">Nombre</p>
		<p class="font-poppins-regular text-base text-[#000000DE]">{{ gatheringCenter.name }}</p>
	</div>
	<div class="flex gap-11 items-center">
			<p class="text-sm font-poppins-medium text-[#00000099]">Estado</p>
			<p class="font-poppins-regular text-base text-[#000000DE]">{{ gatheringCenter.estado }}</p>
	</div>

	<div class="mt-2 flex gap-10 items-center">
			<p class="text-sm font-poppins-medium text-[#00000099]">Ciudad</p>
			<p class="font-poppins-regular text-base text-[#000000DE]">{{ gatheringCenter.municipio }}</p>
	</div>

	<div class="pt-3 flex gap-2 items-start">
			<img src="../../../../assets/svg/location_on.svg" alt="">
			<p class="font-poppins-regular text-sm text-[#000000DE] hover:text-success-400">{{ gatheringCenter.address }}</p>
	</div>
</div>
