<div class="sidebar">
	<!-- Logo -->
	<h1 class="text-xs font-poppins-medium">HOME</h1>

	<!-- Enlaces del sidebar -->
	<nav class="pt-4">
		<ul class="flex flex-col">
			<a routerLink="/dashboard/summary" routerLinkActive="active" class="option">
				<img src="../../../../assets/svg/icono_sidebar_analiticas_24x24.svg" alt="Logo" class="w-6 h-6 svg-default" />
				<img src="../../../../assets/svg/icono_sidebar_analiticas_blanco_24x24.svg" alt="Logo" class="w-6 h-6 svg-active" />
				<img src="../../../../assets/svg/icono_sidebar_analiticas_verde_24x24.svg" alt="Logo" class="w-6 h-6 svg-hover" />
				Analíticas
			</a>

			<a routerLink="/dashboard/gathering-centers" routerLinkActive="active" class="option">
				<img src="../../../../assets/svg/icono_sidebar_centros_acopios_24x24.svg" alt="Logo" class="w-6 h-6 svg-default" />
				<img src="../../../../assets/svg/icono_sidebar_centros_acopios_blanco_24x24.svg" alt="Logo"
					class="w-6 h-6 svg-active" />
				<img src="../../../../assets/svg/icono_sidebar_centros_acopios_verde_24x24.svg" alt="Logo"
					class="w-6 h-6 svg-hover" />
				Centros de acopio</a>
			<a routerLink="/dashboard/users" routerLinkActive="active" class="option"><img
					src="../../../../assets/svg/icono_sidebar_usuarios_24x24.svg" alt="Logo" class="w-6 h-6 svg-default" />
				<img src="../../../../assets/svg/icono_sidebar_usuarios_verde_24x24.svg" alt="Logo" class="w-6 h-6 svg-hover" />
				<img src="../../../../assets/svg/icono_sidebar_usuarios_blanco_24x24.svg" alt="Logo" class="w-6 h-6 svg-active" />
				Usuarios</a>
			<a routerLink="/dashboard/clasification" routerLinkActive="active" class="option"><img
					src="../../../../assets/svg/icono_sidebar_clasificar_24x24.svg" alt="Logo" class="w-6 h-6 svg-default" />
				<img src="../../../../assets/svg/icono_sidebar_clasificar_verde_24x24.svg" alt="Logo" class="w-6 h-6 svg-hover" />
				<img src="../../../../assets/svg/icono_sidebar_clasificar_blanco_24x24.svg" alt="Logo" class="w-6 h-6 svg-active" />
				Clasificar</a>

			<a routerLink="/dashboard/separation" routerLinkActive="active" class="option"><img
					src="../../../../assets/svg/icono_sidebar_separar_24x24.svg" alt="Logo" class="w-6 h-6 svg-default" />
				<img src="../../../../assets/svg/icono_sidebar_separar_verde_24x24.svg" alt="Logo" class="w-6 h-6 svg-hover" />
				<img src="../../../../assets/svg/icono_sidebar_separar_blanco_24x24.svg" alt="Logo" class="w-6 h-6 svg-active" />
				Separar</a>
		</ul>
	</nav>
</div>