.sidebar {
  width: 348px;
  @apply h-screen bg-white text-[#000000DE] px-4 pt-8;

  .option {
    padding: 10px;
    @apply rounded text-sm font-poppins-regular flex gap-2 items-center;
    @apply hover:bg-success-50 hover:text-success-500;

    .svg-default {
      display: block;
    }

    .svg-hover {
      display: none;
    }

    .svg-active {
      display: none;
    }

    &:hover .svg-default {
      display: none;
    }

    &:hover .svg-hover {
      display: block;
    }

    &.active .svg-default {
      display: none;
    }

    &.active:not(:hover) .svg-active {
      display: block;
    }
  }

  .active {
    @apply rounded bg-success-400 text-white text-sm font-poppins-regular flex gap-2 items-center;
  }
}

@media (min-width: 768px) {
	.sidebar{
		width: 256px;
	}
}


@media (min-width: 1440px) {

}

@media (min-width: 1920px) {

}