<div class="summary">
	<section class="content graph-container lg:col-span-1">
		<p class="font-poppins-medium text-lg">Tipos de RAEE - Según su línea </p>
		<canvas id="chart1">{{ raeeTypeGraph }}</canvas>
	</section>

	<section class="content graph-container lg:col-span-2">
		<p class="font-poppins-medium text-lg">Materiales químicos en existencia</p>
		<canvas id="chart2">{{ graphOfChemicalMaterials }}</canvas>
	</section>

	<section class="content graph-container lg:col-span-1">
		<p class="font-poppins-medium text-lg">Estatus de RAEE</p>
		<canvas id="chart3">{{ raeeTypeGraph }}</canvas>
	</section>

	<section class="content graph-container lg:col-span-2">
		<p class="font-poppins-medium text-lg">Tipos de usuario según su rol</p>
		<canvas id="chart4">{{ graphOfChemicalMaterials }}</canvas>
	</section>
</div>