<div class="edit-passowrd-popup">
	<p class="text-[#0B132B] font-poppins-medium text-lg mb-4">{{ title }}</p>

	<form [formGroup]="form" class="flex flex-col gap-4">
		<app-cloe-input-field  [label]="'Nueva Contraseña'" formControlName="password" [forName]="'changePasswordDashboard'" [typeInput]="'password'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
		<app-cloe-input-field  [label]="'Confirme la contraseña'" formControlName="confirmPassword" [forName]="'confirmPasswordDashboard'" [typeInput]="'password'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
	</form>

	<p *ngIf="form.get('confirmPassword')?.hasError('passwordsNotMatch') && form.get('confirmPassword')?.touched" class="font-poppins-regular mt-0.5 ml-3 text-sm text-danger-500">
		Las contraseñas no coinciden
	</p>

	<div class="mt-6 flex items-center justify-end gap-6">
		<div class="w-24">
			<button class="btn btn-md btn-secundary__success" (click)="onClose()">Cancelar</button>
		</div>

		<div class="w-24">
			<button class="btn btn-md btn-primary__success" (click)="onSave()" [disabled]="form.invalid">Guardar</button>
		</div>
	</div>
</div>
