<div class="w-screen h-screen">

	<div class="mt-auto w-1/5 space-y-2">

		<button disabled class="btn btn-primary__success ">Success</button>
		<button class="btn btn-primary__danger">Danger</button>
		<button class="btn btn-primary__warning">Warning</button>


		<button class="btn btn-secundary btn-secundary__success">Success</button>
		<button class="btn btn-secundary btn-secundary__danger">Danger</button>
		<button class="btn btn-secundary btn-secundary__warning">Warning</button>


		<button class="btn btn-info__success">Success</button>
		<button class="btn btn-info__danger">Danger</button>
		<button class="btn btn-info__warning">Warning</button>
	</div>

</div>