<div class="new-gathering-centers">
	<p class="text-[#0B132B] font-poppins-medium text-lg mb-6">{{ title }}</p>

	<form [formGroup]="gatheringCenterForm" class="flex flex-col gap-4">
		<app-cloe-input-field [label]="'Descripción'" formControlName="description" [typeInput]="'text'" [forName]="'descriptionGatheringCenters'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
		<app-cloe-select-search  formControlName="state" [forName]="'stateGatheringCenters'" [label]="'Estado'" [placeholder]="'Selecciona'" [options]="states"></app-cloe-select-search>
		<app-cloe-select-search  formControlName="city" [forName]="'cityGatheringCenters'" [label]="'Municipio'" [placeholder]="'Selecciona'" [options]="cities"></app-cloe-select-search>
		<app-cloe-select-search  formControlName="manager" [forName]="'managerGatheringCenters'" [label]="'Encargado'" [placeholder]="'Selecciona'" [options]="managers"></app-cloe-select-search>
		<app-cloe-input-field [label]="'Dirección'" formControlName="address" [typeInput]="'text'" [forName]="'addressGatheringCenters'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
	</form>

	<div class="mt-6 flex items-center justify-end gap-6">
		<div class="w-24">
			<button class="btn btn-md btn-secundary__success" (click)="onClose()">Cancelar</button>
		</div>

		<div class="w-24">
			<button class="btn btn-md btn-primary__success" (click)="onSaveGatheringCenter()" [disabled]="gatheringCenterForm.invalid">Guardar</button>
		</div>
	</div>
</div>
