<label [for]="forName" class="font-poppins-medium" [ngClass]="{
	'text-success-500': isInputActive,
	'text-danger-500': control.invalid && control.touched,
	'text-disabled': isDisabled
}" [class.text-success-500]="isInputActive" [class.text-danger-500]="control.invalid && control.touched">
	{{ label }}
</label>
<input [id]="forName" [placeholder]="placeholder" [disabled]="isDisabled" [formControl]="control" [type]="typeInput"
	[ngClass]="{
		'isDisabled': isDisabled,
		'placeholder:text-[#00000061]': isDisabled,
		'border-red-500': control.invalid && (control.dirty || control.touched),
		'outline-none': control.invalid && (control.dirty || control.touched),
		'ring-1': control.invalid && (control.dirty || control.touched),
		'ring-danger-500': control.invalid && (control.dirty || control.touched)
	}" (focus)="onInputFocus()" (blur)="onInputBlur()" />

<ng-container *ngIf="control.invalid && control.touched">
	<p *ngIf="control.hasError('required')" class="font-poppins-regular mt-0.5 ml-3 text-sm text-danger-500">Este campo es obligatorio.</p>
	<p *ngIf="control.hasError('email')" class="font-poppins-regular mt-0.5 ml-3 text-sm text-danger-500">El correo es invalido.</p>
	<p *ngIf="control.hasError('minLength')" class="font-poppins-regular mt-0.5 ml-3 text-sm text-danger-500">La longitud debe ser de minimo 8 caracteres.</p>
</ng-container>