<label [for]="forName" [ngClass]="{
	'text-success-500': isInputActive,
	'text-danger-500': control.invalid && control.touched,
	'text-disabled': isDisabled
}" [class.text-success-500]="isInputActive" [class.text-danger-500]="control.invalid && control.touched">
	{{ label }}
</label>
<input [id]="forName" [placeholder]="placeholder" [disabled]="isDisabled" [formControl]="control" class="border p-2 "
	[ngClass]="{
		'isDisabled': isDisabled,
		'placeholder:text-[#00000061]': isDisabled,
		'border-red-500': control.invalid && (control.dirty || control.touched),
		'outline-none': control.invalid && (control.dirty || control.touched),
		'ring-1': control.invalid && (control.dirty || control.touched),
		'ring-danger-500': control.invalid && (control.dirty || control.touched)
	}" (focus)="onInputFocus()" (blur)="onInputBlur()" />

<ng-container *ngIf="control.invalid && control.touched">
	<p class="mt-0.5 ml-3 text-sm text-danger-500">Este campo es obligatorio</p>
</ng-container>