<div class="card-container mt-6 m-auto px-4 py-10 md:px-10 bg-white rounded overflow-hidden shadow-lg">
	<ng-container *ngIf="!isSavePassword ; else savePasswordTemplate">
		<p class="text-center text-xl font-poppins-medium text-success-500 mb-6">Cambiar contraseña</p>

		<form [formGroup]="form" class="flex flex-col gap-6">
			<app-cloe-input-field  [label]="'Contraseña'" [useSpecialCharactersOnly]="true" formControlName="password" [forName]="'changePassword'" [typeInput]="'password'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>

			<app-cloe-input-field  [label]="'Confirme la contraseña'" [useSpecialCharactersOnly]="true" formControlName="confirmPassword" [forName]="'confirmChangePassword'" [typeInput]="'password'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>

			<ng-container *ngIf="isErrorSave">
				<div class="flex items-center">
					<img src="../../../../assets/svg/error.svg"  class="w-5 h-5" alt="">
					<p class="font-poppins-regular mt-0.5 ml-2 text-sm text-danger-500">{{message}}</p>
				</div>
			</ng-container>

			<button type="button" (click)="savePassword()" class="mt-2 btn btn-lg btn-primary__success" [disabled]="form.invalid">Guardar</button>
		</form>

		<div class="mt-4 text-center">
			<a routerLink="/auth/sign-in" class="font-poppins-medium outline-none focus:outline-none text-success-500 hover:text-success-600 hover:underline checked:bg-success-600 checked:border-success-800 ">Iniciar sesión</a>
		</div>
	</ng-container>

	<ng-template #savePasswordTemplate>
		<div class="text-center mb-4">
			<img src="../../../../assets/svg/icono_check_circulo_48x48.svg" alt="Logo" class="m-auto">
			<p class="mt-4 text-center text-xl font-poppins-medium text-success-500">{{message}}</p>
		</div>

		<button type="button" (click)="redirecToLogin()" class="btn btn-lg btn-primary__success">Continuar</button>
	</ng-template>
</div>