.clasification{
	@apply w-screen md:w-full my-4 px-4 py-6 bg-white rounded shadow-lg shadow-[#004D4014];

	.card-content{
		height: 459px;
	}

	.btn-download{
		.svg-download-default {
			display: block;
		}

		.svg-download-hover {
			display: none;
		}


		&:hover .svg-download-default {
			display: none;
		}

		&:hover .svg-download-hover {
			display: block;
		}

	}

}



@media (min-width: 768px) {
	.user-management{
		.card-content{
			height: 670px;
		}
	}
}

@media (min-width: 1024px) {
	.user-management{
		.card-content{
			height: 438px;
		}
	}
}

@media (min-width: 1920px) {
	.user-management{
		.card-content{
			height: 601px;
		}
	}
}