<div class="flex flex-col">
  <!-- Header -->
	<app-dashboard-header (sidebarToggled)="onSidebarToggle()"></app-dashboard-header>

  <!-- Sidebar y Contenido principal -->
  <div class="flex">
    <!-- Sidebar -->
    <div class="lg:w-64" [class.hidden]="!isSidebarOpen">
      <app-dashboard-sidebar></app-dashboard-sidebar>
    </div>

		<div class="relative flex-grow">
			<div class="lg:hidden absolute inset-0 bg-[#00000052] opacity-100 z-10" [class.hidden]="!isSidebarOpen"></div>
			<div class="bg-[#F5F5F5] h-full w-full">
				<div class="flex items-center bg-white px-6 py-4 shadow-[#004D401A] shadow-md ">
					<p class="text-black font-poppins-medium text-xl">{{ obtenerMensaje() }}</p>
				</div>
				<router-outlet></router-outlet>
				<div class="flex items-center justify-center bg-white py-4">
					<p class="text-black font-poppins-regular text-xs">© Cloe 2024</p>
				</div>
			</div>
		</div>
  </div>
</div>
