::ng-deep .ng-select .ng-select-container{
	border: 1px solid #0000001F;
}

::ng-deep .ng-select.ng-select-focused .ng-select-container {
  border-color: #009688;
}

:host ::ng-deep .ng-select.ng-select-focused .ng-select-container {
  border-color: #009688;
}

::ng-deep  .ng-select.ng-select-single .ng-select-container {
	height: 46px;
}

::ng-deep  .ng-select-container {
	padding-left: 12px;
}

::ng-deep .ng-select .ng-select-container{
 min-height: 46px;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder{
	top: 10px;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
	top: 10px;
	padding-left: 24px;
}