<div class="confirmation-popup">
	<img [src]="data.icon" alt="" class="w-12 h-12">
	<p class="mt-4 font-poppins-medium text-lg text-[#000000DE]">{{ data.title }}</p>
	<p class="mt-2 font-poppins-regular text-base text-[#00000099] text-center">{{ data.subtitle }}</p>
	<ng-container *ngIf="data.description && data.description != ''">
		<p class="mt-2 font-poppins-regular text-xs text-[#00000099] text-center">{{ data.description }}</p>
	</ng-container>
	<div class="mt-6 flex items-center justify-center gap-6">
		<div class="w-24">
			<button class="btn btn-md " [ngClass]="{'btn-outline': data.type == 'delete','btn-outline__danger': data.type == 'delete', 'btn-secundary': data.type == 'edit' ,'btn-secundary__success': data.type == 'edit'}" (click)="onClose()">Cancelar</button>
		</div>

		<div class="w-24">
			<button class="btn btn-md " [ngClass]="{'btn-primary__danger': data.type == 'delete', 'btn-primary__success': data.type == 'edit'}" (click)="onConfirmation()">Confirmar</button>
		</div>
	</div>
</div>
