<div
	class="flex flex-col items-center justify-center md:flex-row md:gap-6"
>
	<div
		class="w-10 h-10 px-2 py-2 bg-white rounded overflow-hidden shadow-md shadow-success-100 flex items-center lg:mb-14"
	>
		<img [src]="icon" alt="icon" loading="lazy" />
	</div>

	<div class="container md:w-9/12">
		<p class="font-poppins-medium text-xl mt-6 mb-4 text-center md:text-left">
			{{ title }}
		</p>
		<p class="font-poppins-regular text-center text-base md:text-left">
			{{ message }}
		</p>
	</div>
</div>
