<div class="edit-user-popup">
	<p class="text-[#0B132B] font-poppins-medium text-lg mb-6">{{ title }}</p>

	<form [formGroup]="userForm" class="flex flex-col gap-4">
		<app-cloe-input-field [label]="'Nombre'" formControlName="firstName" [typeInput]="'text'" [forName]="'firstNameUser'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
		<app-cloe-input-field [label]="'Apellido'" formControlName="lastName" [typeInput]="'text'" [forName]="'lastNameUser'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
		<app-cloe-input-field [label]="'Tipo de documento'" [options]="['V', 'E', 'P', 'J','G']" formControlName="documentType" [typeInput]="'select'" [forName]="'documentTypeUser'" [placeholder]="'Selecciona'"></app-cloe-input-field>
		<app-cloe-input-field [label]="'Cédula'" formControlName="identification" [typeInput]="'text'" [forName]="'identificationUser'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
		<app-cloe-input-field [label]="'Correo electrónico'" formControlName="email" [typeInput]="'email'" [forName]="'emailUser'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
		<ng-container *ngIf="!data">
			<app-cloe-select-search  formControlName="employePosition" [forName]="'employePositionUser'" [label]="'Cargo'" [placeholder]="'Selecciona'" [options]="employePositions"></app-cloe-select-search>
		</ng-container>
		<app-cloe-select-search  formControlName="state" [forName]="'stateGatheringCenters'" [label]="'Estado'" [placeholder]="'Selecciona'" [options]="states"></app-cloe-select-search>
		<app-cloe-select-search  formControlName="city" [forName]="'cityGatheringCenters'" [label]="'Municipio'" [placeholder]="'Selecciona'" [options]="cities"></app-cloe-select-search>
		<app-cloe-input-field [label]="'Dirección'" formControlName="address" [typeInput]="'text'" [forName]="'addressGatheringCenters'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>
	</form>

	<div class="mt-6 flex items-center justify-end gap-6">
		<div class="w-24">
			<button class="btn btn-md btn-secundary__success" (click)="onClose()">Cancelar</button>
		</div>

		<div class="w-24">
			<button class="btn btn-md btn-primary__success" (click)="onSaveUser()" [disabled]="userForm.invalid">Guardar</button>
		</div>
	</div>
</div>
