<section class="separation">

	<p class="text-[#0B132B] w-full font-poppins-medium text-base">RAEE registrados</p>

	<div class="mt-4 table-container">
		<mat-tab-group >
			<mat-tab label="Todos">
				<app-clasification-table [data]="clasificationAllList"></app-clasification-table>
			</mat-tab>
			<mat-tab label="Clasificados">
				<app-clasification-table [data]="clasificationList"></app-clasification-table>
			</mat-tab>
			<mat-tab label="Separados">
				<app-clasification-table [data]="separationList"></app-clasification-table>
			</mat-tab>
		</mat-tab-group>
	</div>
</section>