<div class="card-container mt-6 m-auto px-4 py-10 md:px-10 bg-white rounded overflow-hidden shadow-lg">
	<ng-container *ngIf="!isSentMessage ; else sentMessageTemplate">
		<p class="text-center text-xl font-poppins-medium text-success-500 mb-6">Recuperar contraseña</p>

		<form [formGroup]="form" class="flex flex-col gap-6">
			<div class="text-center">
				<p class="font-poppins-regular"><span class="font-poppins-semibold text-success-700">Ingresa el correo </span> electrónico que usaste al registrarte. <span class="font-poppins-semibold text-success-700">Recibirás un enlace</span> para restablecer tu contraseña.</p>
			</div>

			<app-cloe-input-field  [label]="'Correo electrónico'" [useSpecialCharactersOnly]="true" formControlName="email" [forName]="'emailForgot'" [typeInput]="'email'" [placeholder]="'Escribe aquí...'"></app-cloe-input-field>

			<ng-container *ngIf="errorMessage != ''">
				<div class="flex items-center">
					<img src="../../../../assets/svg/error.svg"  class="w-5 h-5" alt="">
					<p class="font-poppins-regular mt-0.5 ml-2 text-sm text-danger-500">{{errorMessage}}</p>
				</div>
			</ng-container>

			<div class="flex justify-center ">
				<re-captcha (resolved)="resolved($event)" [siteKey]="siteKey" formControlName="recaptcha"></re-captcha>
			</div>

			<button type="button" (click)="sentMessage()" class="mt-2 btn btn-lg btn-primary__success" [disabled]="form.invalid">Enviar enlace</button>

		</form>
	</ng-container>

	<ng-template #sentMessageTemplate>
		<div class="text-center mb-4">
			<img src="../../../../assets/svg/icono_sobre_48x48.svg" alt="Logo" class="m-auto">
			<p class="text-center text-xl font-poppins-medium text-success-500">¡Enviado!</p>
		</div>

		<div class="mb-6 text-center">
			<p class="font-poppins-regular">Te hemos enviado un email con un enlace para que reestablezcas tu contraseña.</p>
		</div>


	</ng-template>

	<div class="mt-4 text-center">
		<a routerLink="/auth/sign-in" class="font-poppins-medium outline-none focus:outline-none text-success-500 hover:text-success-600 hover:underline checked:bg-success-600 checked:border-success-800 ">Volver</a>
	</div>
</div>