.section-1{
	height: 450px;
	background-image: url('../../../../assets/landing_page_assets/images/webp/centros_de_acopio_background_412x778.webp');
	background-repeat: no-repeat;
	background-size: cover;


	&__content{
		padding: 136px 16px;

		.search{
			width: 384px;
		}
	}
}

.section-2{
	height: auto;
	background-color: #F5F5F5;
}

@media (min-width: 768px) {
	.section-1 {
		background-image: url('../../../../assets/landing_page_assets/images/webp/centros_de_acopio_background_768x1024.webp');
		background-repeat: no-repeat;
		background-size: cover;

		&__content{
			padding: 153px 88px;
			.search{
				width: 593px;
			}
		}
	}
}

@media (min-width: 1024px) {
	.section-1 {
		background-image: url('../../../../assets/landing_page_assets/images/webp/centros_de_acopio_background_1400x900.webp');
		background-repeat: no-repeat;
		background-size: cover;

		&__content{
			padding: 161px 339px 180px;
			.search{
				width: 572px;
			}
		}
	}
}

@media (min-width: 1440px) {

}

@media (min-width: 1920px) {
	.section-1 {
		background-image: url('../../../../assets/landing_page_assets/images/webp/centros_de_acopio_background_1920x1080.webp');
		background-repeat: no-repeat;
		background-size: cover;


		&__content{
			padding: 161px 579px 177px;
		}
	}
}