<div class="section-1">
	<div class="section-1__content flex flex-col gap-4 items-center">
		<p class="text-4xl font-poppins-regular text-white text-center">Busca el centro de acopio más cercano a ti</p>
	</div>
</div>

<div class="section-2 px-4 md:px-10">
	<form [formGroup]="locationForm" class="pt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
		<app-cloe-select-search class="w-full" formControlName="state" [forName]="'stateGatheringCenter'" [label]="'Estado'" [placeholder]="'Seleccione el estado'" [options]="statesList"></app-cloe-select-search>
		<app-cloe-select-search class="w-full" formControlName="city" [forName]="'cityGatheringCenter'" [label]="'Ciudad'" [placeholder]="'Seleccione la ciudad'" [options]="citiesList"></app-cloe-select-search>
	</form>

	<ng-container *ngIf="gatheringCentersList.length > 0; else notGatherinCenters">
		<div class="grid pt-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
			<ng-container *ngFor="let gatheringCenter of gatheringCentersList | paginate: pageSize:pageNumber">
				<div class="w-full">
					<app-location-card [gatheringCenter]="gatheringCenter"></app-location-card>
				</div>
			</ng-container>
		</div>

		<div class="py-6">
			<mat-paginator class="py-2" [length]="gatheringCentersList.length " [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
				(page)="handlePage($event)" showFirstLastButtons aria-label="Select page">
			</mat-paginator>
		</div>
	</ng-container>

	<ng-template #notGatherinCenters>
		<h1 class="w-full py-6 text-center font-poppins-bold text-3xl">No se encontraron centros de acopio.</h1>
	</ng-template>

</div>
